:root{
    --principal-color: #5da8a0;
    --blue-color: #3e5586;
    --green-color: #607123;
    --mapa-color: #4ec27c;
    --siembra-color: #95b54c;
    --cosecha-color: #A18262;
    --border-light-color: #d0d0d0;
    --text-white-color: #fff;
}

html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

.btn{
    border-radius: .5rem;
    padding: 1rem;
    display: inline-block;
    width: 200px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: var(--text-white-color);
    background-color: var(--principal-color);
}

.hero-image{
    background-image: url('../assets/img/cultivos.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
}

.hero-image-opacity{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero-image-title{
    font-size: 3.5vw;
    color: var(--text-white-color);
}

.hero-image-description{
    font-size: 1.2vw;
    color: var(--text-white-color);
}

#progress-bar {
    opacity: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2px;
    height: 65%;
    background-color: var(--border-light-color);
    z-index: 1;
    transition: opacity .2s ease-in-out;
}

#progress-indicator {
    width: 100%;
    height: 10px;
    background-color: var(--principal-color); 
}

#progress-bar.show {
    opacity: 1;
}

.posts{
    width: 90%;
    margin: 0 auto;
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2px;
}

.post{
    width: 90%;
    min-height: 400px;
    border: 1px solid var(--border-light-color);
    border-radius: .5rem;
    margin-bottom: 3rem;
    padding: 1.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.post:nth-child(2n){
    margin-left: auto;
}

.post h4{
    margin: 0;
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    text-transform: capitalize;
}

.post p{
    margin: 0;
}

.h2-post{
    font-size: 2rem;
    width: 100%;
    margin-top: 5rem;
    text-align: center;
}

footer{
    width: 100%;
    height: 200px;
    background-color: #000;
    position: relative;
    z-index: 100;
    color: var(--text-white-color);
}

.loader{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    background-color: #000;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: circle(150% at 100% 0);
    transition: clip-path 0.5s ease-in-out;
}

.to-loader{
    clip-path: circle(0% at 100% 0);
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }
    4.9% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }
    5% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}
