html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.iniciar-sesion{
    width: 700px;
    height: 500px;
    border-radius: 1rem;
    background-color: #3e5586;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.5);
}

.iniciar-sesion h1{
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
    color: #fff;
}

.iniciar-sesion input[type="text"],
.iniciar-sesion input[type="password"]{
    margin-bottom: 2rem;
    width: 300px;
    height: 30px;
    border-radius: .3rem;
    outline: none;
    border: none;
    padding-left: 1.5rem;
}

.iniciar-sesion button{
    width: 15rem;
    height: 2.5rem;
    border-radius: 1rem;
    outline: none;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
    transition: transform .2s ease-in-out;
}

.iniciar-sesion button:hover{
    transform: scale(1.1);
}

.loader{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    background-color: #000;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: circle(150% at 100% 0);
    transition: clip-path 0.5s ease-in-out;
}

.to-loader{
    clip-path: circle(0% at 100% 0);
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }
    4.9% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }
    5% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}
